html {
    text-align: center;
    font-family: helvetica;
  }

    h1 {
     font-size: 70px;
   }

   .header, h4 {
     background-image: url(../images/the-flatiron-building.png);
   }

   h2 {
     font-size: 32px;
     color: black;
   }

   h1, h2, h4 {
     font-weight: bold;
   }

     p {
       font-size: 14px;
     }
.footer {
     text-align: left;
     background-color: dimgray;
   }

.header, .footer, h4, a {
  color: white;
}

h3, h4 {
  font-size: 23px;
}
